<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="ExempleAlerts">
        <classes>
            <class name="tests.AlertDemoTest">
                <methods>
                    <!-- <include name="testAlertMessageDisplayed"/>
                    <include name="testAlertMessageDisplayedWithPause"/> -->
                    <include name="testAlertPromptIsCorrect"/>
                    <include name="testAlertClickInOK"/>
                    <include name="testAlertClickInCancel"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>